<div id="content" style="margin-top:0;">
	<div class="topic">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2>
						{{title}}
						<span>&nbsp;&nbsp;—&nbsp;&nbsp;{{desc}}</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top:40px;" infinite-scroll='nextPage()' infinite-scroll-disabled='loading' infinite-scroll-distance='1'>
		<tabset>
			<tab class='x-tab' ng-repeat="tab in tabs" heading="{{tab.name}}">
				<div class="news_wrapper">
					<div class="news_row col-md-12" ng-repeat="item in tab.items track by $index">
						<div class="img_wrapper">
							<pic picid="{{item.PicId}}"></pic>
							<a ng-href="#/article/{{item.Id}}">
								<div class="video-mask"></div>
							</a>
						</div>
						<div class="text_wrapper">
							<a ng-href="#/article/{{item.Id}}">
								<h4 ng-bind="item.Title"></h4>
								<p ng-bind="item.Description"></p>
							</a>
						</div>
					</div>
				</tab>
			</tabset>
			<div class="loading" ng-show="loading">
				<img src="../static/img/loading.gif" alt="" style="float:left"/>
				<p style="padding:10px 0 0 10px;float:left;">{{msg}}</p>
			</div>
		</div>

	</div>