<div class="sale">
	<div portfolio></div>

	<div class="container">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h4 class="title">热门促销信息</h4>
			<div class="item" ng-repeat="item in items track by $index">
				<a class="title" href="#">
					<h5><kbd>{{item.type}}</kbd>{{item.title}}<span class="subtitle">{{item.price}}</span></h5>
				</a>
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-5">
						<img ng-src="{{item.pic}}" />
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7">
						参数性能：
						<ul class="parameter">
							<li ng-repeat="per in item.performance track by $index" ng-bind="per"></li>
						</ul>
						<p>购买链接：<a ng-href="{{item.link.url}}">{{item.link.title}}</a> (优惠码：{{item.link.coupon}})</p>
						<div class="comment"><a href="#"><img src="../static/img/comment.jpg"/ >评论 142条</a><share-to></share-to></div>
					</div>
				</div>
				<hr />
			</div>
			<!-- FIXME show the tip when loading -->
			<div class="more">
				<img src="../static/img/loading.gif" />更多促销信息加载中，请稍候
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<ul id="goods" class="nav nav-tabs" role="tablist">
				<li class="x-tab active"><a href="#newest" role="tab" data-toggle="tab">最新</a></li>
				<li class="x-tab"><a href="#oldest" role="tab" data-toggle="tab">即将过期</a></li>
			</ul>
			<div class="item" ng-repeat="item in recommand track by $index">
				<div class="row">
					<div class="col-xs-4">  
						<img class="img-sidebar" ng-src="{{item.pic}}"/>
					</div>
					<div class="col-xs-8">
						<a class="link-sidebar" ng-href="{{item.url}}">{{item.name}}<div ng-bind="item.price"></div></a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
