<div class="video">
    <tabset>
        <tab heading="{{video.name}}" class='x-tab' ng-repeat="video in videos">
            <div class="news_wrapper row">
                <div class="news_row col-md-12" ng-repeat="v in video.videos track by $index">
                    <div class="img_wrapper">
                        <!-- <img ng-src="{{v.preview}}" alt="" /> -->
                        <pic picid='{{picid}}'></pic>
                        <div class="video-mask"></div>
                    </div>
                    <div class="text_wrapper">
                        <a ng-href="{{v.url}}">
                            <h4 ng-bind="v.title"></h4>
                            <p ng-bind="v.desc"></p>
                        </a>
                    </div>
                </div>
            </div>
        </tab>
        <li class="x-tab last"><a href="#/videoLib" >视频库></a></li>
    </tabset>
</div>