<div>
<div class="item_classify">
	<div class="pic_bg">
		<img src="static/img/item_classify_bg.png" alt="" />
	</div>
	<div class="button_list filters" isotope-filter isotope-filter-event="filter-elements">
		<ul>
			<li><button type="button" class="btn btn-default xx-btn active" isotope-filter-by="*">所有商品分类</button></li>
			<li ng-repeat="(c,name) in category"><button type="button" class="btn btn-default xx-btn" isotope-filter-by=".{{c}}">{{name}}</button></li>
		</ul>
	</div>
</div>
<div class="item_pic">
	<div id="isotope" isotope-grid="items" isotope-item-selector=".element-item" isotope-filter-event="filter-elements">
		<div class="element-item {{item.category}}" ng-repeat="item in items" data-category="{{element.category}}">
			<img ng-src="{{item.pic_url}}"/>
			<div class="mask">
				<p>{{item.name}}</p>
				<p>{{item.price}}</p>
				<p>MORE</p>
			</div>
		</div>
	</div>
</div>
</div>