<div class="slider_container">
	<div class="ei-slider">
        <ul class="ei-slider-large">
            <li ng-repeat="slide in slides">
                <img ng-src="{{slide.PicUrl}}"/>
                <div class="ei-title">
                    <h2>{{slide.Title}}</h2>
                    <h3>{{slide.Subtitle}}</h3>
                </div>
            </li>
        </ul><!-- ei-slider-large -->
        <ul class="ei-slider-thumbs">
            <li class="ei-slider-element">Current</li>
            <li ng-repeat="slide in slides"><a href="#">{{slide.Title}}</a><img ng-src="{{slide.PicUrl}}"/></li>
        </ul><!-- ei-slider-thumbs -->
    </div><!-- ei-slider -->
</div>