<div class="topic">
	<div class="container">
		<div class="row">
			<div class="col-md-4"><h3 ng-bind="name"></h3></div>
			<div class="col-md-8">
				<p ng-bind="desc"></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
		<div class="col-md-7" infinite-scroll='nextPage()' infinite-scroll-distance='1'>
			<div class="row lf-row">
				<h4 class="title">相关视频</h4>
				<div class="row myrow" >
					<div class="col-md-6" ng-repeat="video in related track by $index">
						<div class="video-list-inner">
		    				<div class="img">
		    					<pic picid="{{video.PicId}}"></pic>
								<div class="video-mask"></div>			    					
		    				</div>
			    			<div class="text">
				    			<h5><a ng-bind="video.Title" ng-href="#/video/{{video.Id}}"></a></h5>
				    			<p ng-bind="video.Description"></p>
			    			</div>
		    			</div>
					</div>
					<div class="col-md-12" ng-show="loading">
						<div class="loading">
							<img src="../static/img/loading.gif" alt="" style="float:left"/>
							<p style="padding:10px 0 0 10px;float:left;">{{msg}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row rt-row">
				<h4 class="title">相关推荐</h4>
				<div class="row myrow">
					<div class="col-md-11">
						<div class="row sub-row" ng-repeat="video in recommand track by $index">
							<div class="col-md-4">
								<pic picid="{{video.PicId}}"></pic>
							</div>
							<div class="col-md-8">
								<div class="text">
									<a ng-href="#/video/{{video.Id}}">
										<h6 ng-bind="video.Title"></h6>
										<p ng-bind="video.Description"></p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>