<carousel>
	<slide ng-repeat="slide in slides track by $index">
		<img ng-src="{{slide.pic}}" />
		<div class="carousel-intro">
			<h3 ng-bind="slide.title"></h3>
			<p ng-bind="slide.content"></p>
		</div>
	</slide>
</carousel>
<div class="video-list">
    <div id="vd_0" ng-repeat="album in videos">
    	<div class="title-wrapper">
    		<h4 class="title" ng-bind="album.name"><span><a ng-href="{{album.url}}">MORE></a></span></h4>
    	</div>
    	<div class="row myrow">
    		<div class="col-md-4" ng-repeat="video in album.videos track by $index">
    			<div class="video-list-inner">
    				<div class="img">
	    				<img ng-src="{{video.preview}}" alt="" />
						<div class="video-mask"></div>			    					
    				</div>
	    			<div class="text">
		    			<h5><a ng-href="{{video.url}}"  ng-bind="video.title"></a></h5>
		    			<p ng-bind="video.desc"></p>
	    			</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>