<!DOCTYPE html>
<html ng-app="badmintonhome">
	<head>
		<title>羽毛球之家</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
		<meta name="description" content="" />
		<meta name="author" content="CNSSUESTC.org" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/style_menu.css" />
		<link rel="stylesheet" href="static/css/style_eislideshow.css" />
		<link rel="stylesheet" href="static/css/layout.css" />
		<script type="text/javascript" src="static/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/angular.min.js"></script>
		<script type="text/javascript" src="static/js/angular-route.min.js"></script>
		<script type="text/javascript" src="static/js/angular-resource.min.js"></script>
		<script type="text/javascript" src="static/js/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="static/js/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="static/js/bundle.min.js"></script>
		<!-- Custom logic -->
		<script type="text/javascript" src="static/js/script.js"></script>
		<script type="text/javascript" src='static/js/directive/slide.js'></script>
		<script type="text/javascript" src='static/js/directive/portfolio.js'></script>
		<script type="text/javascript" src="static/js/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="static/js/isotope.pkgd.min.js"></script>
		<script type="text/javascript">
			$(window).scroll(function() {
				var _nav = $('#container');
				var _logo = $('#logo');
				var winHeight = $(window).height();
				if($(window).scrollTop() >= winHeight) {
					_nav.addClass('stuck');
					_logo.attr('src','static/img/logo_sm.png');
				} else {
					_nav.removeClass('stuck');
					if (is_index){
						_logo.attr('src','static/img/logo.png');
					};					
				}
			})
			setTimeout(function(){
				$('.click2top').click(function(){
					$(window).scrollTop(0)
				})
			},0)
		</script>
		<!-- Support for HTML5 -->
		<!--[if lt IE 9]>
			<script src="static/js/html5shiv.js"></script>
		<![endif]-->

		<!-- Enable media queries on older browsers -->
		<!--[if lt IE 9]>
			<script src="static/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="container {{index_css()}}" id="container">
			<div class="x-container container">
				<div class="row">
					<div class="col-md-2 col-md-offset-1" ng-click="index()">
						<a href="#"><img src="static/img/logo.png" id="logo" ng-if="is_index" alt="logo" /></a>
						<a href="#"><img src="static/img/logo_sm.png" id="logo" ng-if="!is_index" alt="logo" /></a>
					</div>
					<div class="col-md-5 col-md-offset-3">
						<main-bar></main-bar>
					</div>
				</div>
			</div>
		</div>
								
								
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog login_box">
			<div class="modal-content login_container">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="vertical-align: top;line-height: 0.9;">&times;</span><span class="sr-only">Close</span></button>
			  
			  <div class="modal-body">
				<div class="btn_row">
					<button class="x-btn weibo"></button>
				</div>
				<div class="btn_row">
					<button class="x-btn qq"></button>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div ng-view>
		
		</div>
		<div class="footer">
			<a href="javascript:void(0)" class="click2top"></a>
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-12">
					<h4 class="title">关于我们</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s.. <span><a href="#">more</a></span></p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<h4 class="title">联系我们</h4>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<h4 class="title">联系我们</h4>
					<ul class="contact-method-list">
						<li><a href="#"><span class="icon icon-sm-mail"></span>xxxxxxxx@xxx.com</a></li>
						<li><span class="icon icon-sm-tel"></span>123456789</li>
						<li><span class="icon icon-sm-qq"></span>123456789</li>
						<li><a href="#"><span class="icon icon-sm-weibo"></span>123456789</a></li>
						<li><span class="icon icon-sm-wechat"></span>123456789</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="row">
						<h4 class="title" style="margin-left:15px;">联系我们</h4>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
						<div class="col-md-3 x-thumbnail"><a href="#"><img src="../static/img/thumbnail.jpg" alt="" /></a></div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<p>Copyright&copy;2014-All Rights Reserved.Designed by CNSSUESTC.org</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>