{%.moreScripts.Add "backjs.js"%}
<div class="container">
	<ul class="nav nav-tabs" role="tablist" id="infoelem">
		<li role="presentation" class="active">
			<a href="#list" tole="tab" data-toggle="tab">列表</a>
		</li>
		<li role="presentation">
			<a href="#add" tole="tab" data-toggle="tab">添加</a>
		</li>
		<li role="presentation" style="display:none">
			<a href="#modify" tole="tab" data-toggle="tab">修改</a>
		</li>
	</ul>
	<br/>
	<div class="tab-content">
		<div id="list" class="tab-pane active">
			<table class="table">
				<tr>
					<th>#</th>
					<th>title</th>
					<th>type</th>
					<th>author</th>
					<th>source</th>
					<th>time</th>
					<th>modify</th>
				</tr>
				{%range .learns%}
				<tr>
					<td>{%.Id%}</td>
					<td>{%.Title%}</td>
					<td>{%.Type%}</td>
					<td>{%.Author%}</td>
					<td>{%.Source%}</td>
					<td>{%date .Time "y-m-d h:i"%}</td>
					<td>
						<a onclick="modify({%.Id%})"> <i class="glyphicon glyphicon-edit"></i>
						</a>
						<a onclick="deletePost('/api/admin/tutorial?id={%.Id%}', $('#infoelem'))"> <i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
				{%end%}
			</table>
		</div>

		<div id="add" class="tab-pane">
			<form action="" method="post" id="addform">
				<input class="form-control" name="title" placeholder="title" />
				<br/>
				<select class="form-control" name="type" placeholder="type" id="type"></select>
				<br/>
				<input class="form-control" name="picid" placeholder="picid" />
				<br/>
				<input class="form-control" name="author" placeholder="author" />
				<br/>
				<input class="form-control" name="source" placeholder="source" />
				<br/>
				<textarea class="form-control" name="description" placeholder="description"></textarea>
				<br/>
				<!-- 加载编辑器的容器 -->
				<textarea id="content" name="content" type="text/plain">这里写你的初始化内容</textarea>
				<br/>
				<button class="btn btn-success" onclick="putPost('/api/admin/tutorial', $('#addform'), $('#infoelem'))" type="button">添加</button>
			</form>
		</div>
		<div id="modify" class="tab-pane">
			<form action="" method="post" id="updateform">
				<input class="form-control" name="id" placeholder="id" type="hidden"/>
				<input class="form-control" name="title" placeholder="title" />
				<br/>
				<select class="form-control" name="type" placeholder="type"></select>
				<br/>
				<input class="form-control" name="picid" placeholder="picid" />
				<br/>
				<input class="form-control" name="author" placeholder="author" />
				<br/>
				<input class="form-control" name="source" placeholder="source" />
				<br/>
				<textarea class="form-control" name="description" placeholder="description"></textarea>
				<br/>
				<!-- 加载编辑器的容器 -->
				<textarea id="content2" name="content" type="text/plain">这里写你的初始化内容</textarea>
				<br/>
				<button class="btn btn-success" onclick="postPost('/api/admin/tutorial', $('#updateform'), $('#infoelem'))" type="button">添加</button>
			</form>

		</div>
	</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">var ue = UE.getEditor('content');var ue2 = UE.getEditor('content2');</script>

<script>
	(function(){
		$.get('/api/common/tutorialtypes', function(r) {
			if (r.ok) {
				for (var i in r.tutorialtypes) {
					var element = '<option value="' + r.tutorialtypes[i].Name + '">' + r.tutorialtypes[i].Name + '</option>';
					$('select[name="type"]').append(element);
				}
			}
		})
	})()
	function modify(id) {
		$.get('/api/common/tutorial/' + id, function(r) {
			if (r.ok) {
				r = r.tutorial;
				$('#modify input[name="title"]').val(r.Title)
				$('#modify input[name="id"]').val(r.Id)
				$('#modify input[name="picid"]').val(r.PicId)
				$('#modify input[name="author"]').val(r.Author)
				ue2.setContent(r.Content)
				$('#modify textarea[name="description"]').html(r.Description)
				$('#modify input[name="source"]').val(r.Source)
				$('#modify input[name="url"]').val(r.Url)
				$('#modify select[name="type"]').val(r.Type)
			}
			$('a[href="#modify"]').tab('show')
		})
		
	}
</script>