{%.moreScripts.Add "datepicker.js"%}
{%.moreScripts.Add "datepicker-zhcn.js"%}
{%.moreStyles.Add "datepicker.css"%}
<div class="container">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#list" tole="tab" data-toggle="tab">列表</a>
		</li>
		<li role="presentation">
			<a href="#add" tole="tab" data-toggle="tab">添加</a>
		</li>
	</ul>
	<br/>
	<div class="tab-content">
		<div id="list" class="tab-pane active">
			<table class="table">
				<tr>
					<th>#</th>
					<th>title</th>
					<th>type</th>
					<th>link</th>
					<th>time</th>
					<th>modify</th>
				</tr>
				{%range .promotions%}
				<tr>
					<td>{%.Id%}</td>
					<td>{%.Title%}</td>
					<td>{%.Type%}</td>
					<td>{%.Link%}</td>
					<td>{%date .UpdateTime "y-m-d h:i"%}</td>
					<td>
						<a> <i class="glyphicon glyphicon-edit"></i>
						</a>
						<a onclick="deletepost({%.Id%})"> <i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
				{%end%}
			</table>
		</div>
		<div id="add" class="tab-pane">
			<form action="" method="post" id="form">
				<input class="form-control" name="title" placeholder="title" />
				<br/>
				<input class="form-control" name="title2" placeholder="title2" />
				<br/>
				<input class="form-control" name="promotetime" placeholder="promotetime" id="promotetime"/>
				<br/>
				<select class="form-control" name="type" placeholder="type" id="type"></select>
				<br/>
				<input class="form-control" name="picid" placeholder="picid" />
				<br/>
				<input class="form-control" name="author" placeholder="author" />
				<br/>
				<input class="form-control" name="source" placeholder="source" />
				<br/>
				<input class="form-control" name="link" placeholder="link" />
				<br/>
				<input class="form-control" name="description2" placeholder="description2" />
				<br/>
				<textarea class="form-control" name="description" placeholder="description"></textarea>
				<br/>
				<!-- 加载编辑器的容器 -->
				<script id="content" name="detail" type="text/plain">这里写你的初始化内容</script>
				<br/>
				<button class="btn btn-success" onclick="postform($('#form'))" type="button">添加</button>
			</form>

		</div>
	</div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">var ue = UE.getEditor('content');</script>

<script>
	(function(){
		$.get('/api/common/promotiontypes', function(r) {
			if (r.ok) {
				for (var i in r.promotiontypes) {
					var element = '<option value="' + r.promotiontypes[i].Name + '">' + r.promotiontypes[i].Name + '</option>';
					$('select#type').append(element);
				}
			}
		})
	})()
	function postform(form) {
		$.ajax({
			url: '/api/admin/promotion',
			type: 'PUT',
			data: $("form#form").serialize(),
			success: function(re) {
						if (!re.ok) {
							$('#add').before('<div class="alert alert-danger" role="alert">'+re.errmsg+'</div>')
						} else {
							location.reload()
						}
					 }
			})	
	}
	function deletepost(id) {
		$.ajax({
			url: '/api/admin/promotion?id=' + id,
			type: 'DELETE',
			success: function(r) {
				location.reload()
			}
		})
	}
</script>
<script>
  $('input#promotetime').datepicker({
    format: "yyyy-mm-dd",
    startView: 1,
    todayBtn: "linked",
    language: "zh-CN",
    orientation: "top auto",
    multidate: 2,
    multidateSeparator: "~",
    todayHighlight: true
});
</script>