{%.moreScripts.Add "backjs.js"%}
<div class="container">
	<ul class="nav nav-tabs" role="tablist" id="infoback">
		<li role="presentation" class="active">
			<a href="#list" tole="tab" data-toggle="tab">列表</a>
		</li>
	</ul>
	<br/>
	<div class="tab-content"> 
		<form action="/api/common/upload" method="post" enctype="multipart/form-data" id="uploadform">
			<input type="file" name="file"/>
			<br/>
			<button class="btn btn-success" onclick="">上传</button>
			<br/>
		</form>
		<div id="list" class="tab-pane active">
			<table class="table">
				<tr>
					<th>#</th>
					<th>name</th>
					<th>path</th>
					<th>modify</th>
				</tr>
				{%range .files%}
				<tr>
					<td>{%.Id%}</td>
					<td>{%.Name%}</td>
					<td>{%.Path%}</td>
					<td>
						<a onclick="deletePost('/api/common/upload?id={%.Id%}', $('#infoback'))"> <i class="glyphicon glyphicon-remove"></i>
						</a>
						<a onclick="previewUpload({%.Id%})"><i class="glyphicon glyphicon-eye-open"></i></a>
					</td>
				</tr>
				{%end%}
			</table>
		</div>
	</div>
</div>
